/*	==========================================================================================
 *	base
 *	==========================================================================================
 *	Style sheet for devices that are less than 240 pixels
 *	wide or don’t respond to media queries.
 *	==========================================================================================
 *	Author:		Jonathan van Wunnik
 *	Project:	Project Name
 *	Link:		http://www.website.com
 *	==========================================================================================
 *	==========================================================================================
 *	Modular scale foundation
 *	==========================================================================================
 *	Check Modular Scale, a tool to identify ratios, once given a base ‘ideal text size’
 *	or ‘important number’ (say, a key column width) it takes care of the rest.
 *	1) http://modularscale.com
 *	2) http://jackosborne.co.uk/articles/modular-scale/ (explanation!)
 *	==========================================================================================
 *	Modular Scale:	13px @ 1:1.618	16px @ 1:1.618
 *	==========================================================================================
 *	Pixels		Ems			% of 13
 *	987.975		75.998		7,599.808
 *	751.538		57.811		5,781.062
 *	610.615		46.97		4,697.038
 *	464.486		35.73		3,572.969
 *	377.389		29.03		2,902.992
 *	287.074		22.083		2,208.262
 *	233.244		17.942		1,794.185
 *	177.425		13.648		1,364.808
 *	144.156		11.089		1,108.892
 *	109.657		8.435		843.515
 *	89.095		6.853		685.346
 *	67.773		5.213		521.331
 *	55.065		4.236		423.577
 *	41.887		3.222		322.208
 *	34.033		2.618		261.792
 *	25.888		1.991		199.138
 *	21.034		1.618		161.800
 *	16.000		1.231		123.077
 *	13.000		1			100.000
 *	9.889		0.761		76.069
 *	8.035		0.618		61.808
 *	6.112		0.47		47.015
 *	4.966		0.382		38.200
 *	3.778		0.291		29.062
 *	3.069		0.236		23.608
 *	2.335		0.18		17.962
 *	1.897		0.146		14.592
 *	1.443		0.111		11.100
 *	1.172		0.09		9.015
 *	======================================================================================= */
/*	==========================================================================================
	HTML5 display definitions
	======================================================================================= */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/*	==========================================================================================
	Base
	======================================================================================= */
/*
 	1. Correct text resizing oddly in IE7 when body font-size is set using em units
 	   http://clagnut.com/blog/348/#c790
	2. Force vertical scrollbar in non-IE
	3. Prevent iOS text size adjust on device orientation change, without disabling user zoom
	   http://www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Addresses font-family inconsistency between 'textarea' and other form elements. */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*	==========================================================================================
	Links
	======================================================================================= */
a {
  color: #284678;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
/*	==========================================================================================
	Embedded content
	======================================================================================= */
img {
  border: 0;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
/*	==========================================================================================
	Figures
	======================================================================================= */
figure {
  margin: 0;
}
/*	==========================================================================================
	Typography
	======================================================================================= */
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 39em;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ffff99;
  color: #141414;
  text-decoration: none;
}
mark {
  background: #ffff00;
  color: #141414;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.2em;
}
sub {
  bottom: -0.2em;
}
/*	==========================================================================================
	Lists
	======================================================================================= */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 1em;
}
dd {
  margin: 0 0 0 1em;
}
nav ul, nav ol, form ol {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
/*	==========================================================================================
	Forms
	======================================================================================= */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
/*
	1. Correct font-size not inheriting in all browsers
	2. Remove margins in FF3/4 S5 Chrome
	3. Define consistent vertical alignment display in all browsers */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button, input {
  line-height: normal;
}
/*
	1. Display hand cursor for clickable form elements
	2. Allow styling of clickable form elements in iOS */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/* Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
	1. Remove default vertical scrollbar in IE7/8/9
	2. Allow only vertical resizing */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/*	==========================================================================================
	Tables
	======================================================================================= */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table {
  border: 1px solid #e6e6e6;
  border-collapse: separate;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
table th, table td {
  line-height: 1.5;
  padding: 0.5em;
  text-align: left;
}
table th {
  border-bottom: 1px solid #808080;
  font-weight: bold;
  vertical-align: middle;
  white-space: nowrap;
}
table td {
  vertical-align: top;
}
table th + th, table td + td {
  border-left: 1px solid #ddd;
}
table tr + tr td {
  border-top: 1px solid #ddd;
}
table tbody tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td {
  background-color: #e6e6e6;
}
table tbody tr:hover td {
  background-color: #141414;
  color: #ffffff;
}
table tfoot td {
  border-top: 1px solid #bfbfbf;
  font-style: italic;
}
/*	==========================================================================================
	Base
	======================================================================================= */
body {
  background-color: #fafafa;
  margin: 0;
}
body,
select,
input,
textarea {
  color: #141414;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
}
/*	==========================================================================================
	Typography
	======================================================================================= */
body {
  font-family: "RijksoverheidSerif-Regular", Arial, sans-serif;
  font-size: 81.25%;
  line-height: 1.5;
  letter-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RijksoverheidSansHeading-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}
.intro, figcaption, nav.toc h2 {
  font-family: "RijksoverheidSansText-Regular", Arial, sans-serif;
}
.toc h2 {
  font-weight: normal;
}
blockquote {
  font-family: "RijksoverheidSerif-Italic", Arial, sans-serif;
}
/*	==========================================================================================
	Webfont loader
	======================================================================================= */
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6 {
  opacity: 0;
  visibility: hidden;
}
.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6 {
  opacity: 1;
  visibility: visible;
}
.wf-inactive {
  visibility: visible;
}
/*	==========================================================================================
	Headings
	======================================================================================= */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}
/*	==========================================================================================
	Links
	======================================================================================= */
a, a:active, a:visited {
  color: #284678;
  text-decoration: none;
  -webkit-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  -webkit-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}
a:hover, a:active:hover, a:visited:hover {
  color: #080e18;
}
a:active {
  top: 1px;
}
/*	==========================================================================================
	Text selection
	======================================================================================= */
::-moz-selection {
  background: rgba(0, 0, 0, 0.8);
  color: #fafafa;
  text-shadow: none;
}
::selection {
  background: rgba(0, 0, 0, 0.8);
  color: #fafafa;
  text-shadow: none;
}
/*	==========================================================================================
	Lists
	======================================================================================= */
ul {
  list-style-type: square;
}
li p {
  margin-bottom: 0;
}
/*	==========================================================================================
	Classes & structure
	======================================================================================= */
#document {
  display: block;
  margin: 44px auto auto;
  display: block;
  margin: 44px auto auto;
  position: relative;
}
#document > header > h1 {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: -44px;
  width: 209px;
  margin-left: -104px;
  height: 130px;
  background: url(img/ro-logo.png);
  text-indent: -1234em;
}
#document > header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
#document > header > h1 {
  display: none;
  top: 0;
}
#document > header nav {
  position: absolute;
  left: 0px;
  top: -44px;
  right: 0px;
  height: 44px;
  z-index: 3;
}
#document > header nav > ul {
  margin: 0;
  padding: 0;
}
#document > header nav > ul > li {
  float: left;
  height: 44px;
  width: 44px;
}
#document > header nav > ul > li > a {
  background: url(img/nav.png) no-repeat 0 100px;
  display: block;
  overflow: hidden;
  text-indent: -1234em;
  height: 44px;
}
#document > header nav > ul > li.home a {
  background-position: 15px 13px;
}
#document > header nav > ul > li.toc {
  width: 68px;
}
#document > header nav > ul > li.toc a {
  background-position: -29px 13px;
}
#document > header nav > ul > li.export {
  float: right;
}
#document > header nav > ul > li.export a {
  background-position: -101px 13px;
}
#document > header nav > ul > li.settings {
  float: right;
}
#document > header nav > ul > li.settings a {
  background-position: -145px 13px;
}
#document.home header h1 {
  display: block;
}
.article-0 {
  background: transparent no-repeat 50% 0;
}
.article-0 > div:first-child {
  padding: 32px;
}
.article-0 > div:first-child > div h1 {
  padding-top: 132px;
  font-size: 3em;
}
.article-0 > div:first-child > div h2 {
  margin: 0;
}
.article-0 > div:first-child header {
  margin-bottom: 1.6em;
}
.article-0 > div:first-child h1 {
  font-size: 3.65em;
  line-height: 0.9;
}
.article-0 > div:first-child dl {
  font-size: 1.20em;
  line-height: .7;
  margin: 0.8em 0 0 0;
}
.article-0 > div:first-child dl dd + dt {
  border-left: 1.5px solid #fff;
  padding-left: 0.3em;
}
.article-0 > div:first-child dl .publication-date {
  text-indent: -1234em;
  margin-right: 0;
}
.article-0 > div:first-child dl > * {
  float: left;
  margin: 0 0.3em 0 0;
  color: #fff;
}
.article-0 > div:first-child nav {
  clear: both;
}
.article-0 > div:first-child nav h2 {
  font-size: 1.5em;
  line-height: 1.2;
  margin: 0;
  color: #fff;
}
.article-0 > div:first-child nav p {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.1;
  color: #fff;
}
.article-0 > div:first-child nav li {
  margin-top: 1em;
}
article {
  font-size: 115%;
  line-height: 1.5em;
}
article > div:first-child {
  padding: 24px;
  overflow: hidden;
}
article p {
  font-size: 1em;
  margin: 0 0 1.5em 0;
}
article p.intro {
  font-size: 1.3333em;
  /* 16px */
  line-height: 1.125em;
  /* 18px */
  margin-bottom: 1.125em;
  margin-top: 0em;
}
article h1, article h2, article h3 {
  font-size: 1.1667em;
  /* 14px */
  line-height: 1.2857em;
  /* 18px */
  margin-top: 1.2857em;
  margin-bottom: 0em;
}
article h1 {
  font-size: 2em;
  /* 24px */
  line-height: 1.5em;
  /* 36px */
  margin-top: 0.75em;
}
article header h1 {
  line-height: 1;
}
article h2, article h3 {
  font-size: 1.1667em;
  /* 14px */
  line-height: 1.2857em;
  /* 18px */
  margin-top: 1.2857em;
  font-weight: normal;
}
article blockquote {
  font-size: 2em;
  /* 24px */
  line-height: 1.5em;
  /* 36px */
  margin-top: 0.75em;
  margin-bottom: 0em;
}
article blockquote p {
  margin: 0;
}
article figure video {
  width: 100%;
}
article figure figcaption {
  font-size: 0.8em;
}
nav.dynamic-toc {
  display: none;
  width: 380px;
  position: absolute;
  left: 36px;
  top: 0px;
  z-index: 2;
  padding: 10px 10px 5px 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
  margin: -10px 0 0 0;
}
nav.dynamic-toc ol {
  margin: 0;
}
nav.dynamic-toc li {
  overflow: hidden;
  margin-bottom: 5px;
}
nav.dynamic-toc li a {
  font-size: 1.5em;
  display: block;
  padding: 6px 10px;
  background-color: #fbead9;
}
nav.dynamic-toc li a h2 {
  margin: 0;
}
nav.dynamic-toc p {
  display: none;
}
nav.dynamic-toc p.back {
  display: block;
  margin: 0.5em 0;
  font-size: 1em;
}
nav.dynamic-toc p.back a {
  display: block;
  color: #959697;
}
nav.dynamic-toc p.back a:hover {
  color: #000;
}
nav.dynamic-toc h2 {
  font-size: 1em;
  line-height: 1.2;
}
.open-toc nav.dynamic-toc {
  display: block;
  -webkit-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
}
.open-toc #document > header > nav > ul > li.toc {
  height: 22px;
  width: 56px;
  overflow: hidden;
  padding: 4px;
  margin: 4px -4px 0 3px;
}
.open-toc #document > header > nav > ul > li.toc a {
  background-color: #fff;
  -webkit-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.4);
  background-position: -36px 5px;
}
.prev-next {
  position: absolute;
  font-size: 1.1em;
  left: 50%;
  top: -34px;
  z-index: 3;
  width: 30px;
  margin-left: -5px;
  text-align: center;
  color: #4e4e4e;
}
.prev-next a {
  color: #4e4e4e;
}
.prev-next .current a {
  cursor: text;
}
.prev-next em {
  font-style: normal;
}
.prev-next ol, .prev-next p {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.prev-next ol {
  list-style: none;
}
.prev-next ol li {
  position: absolute;
  top: -1000px;
}
.prev-next ol li.current {
  position: static;
}
.prev-next ol em, .prev-next ol em + span {
  display: none;
  position: fixed;
  top: 50%;
  margin-top: -44px;
  width: 44px;
  height: 88px;
}
.prev-next ol em {
  width: 200px;
  height: 88px;
  background-color: #123552;
  color: #fff;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -ms-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -ms-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
  font-size: 0.9em;
  line-height: 88px;
}
.prev-next ol em span {
  display: inline-block;
  line-height: 1;
  max-width: 160px;
}
.prev-next ol em + span {
  background: #ffffff url(img/nav.png) no-repeat -746px 50%;
}
.prev-next ol .prev {
  display: none;
}
.prev-next ol .prev em {
  display: block;
  right: 100%;
  padding-left: 44px;
  padding-right: 20px;
  margin-right: -44px;
  text-align: right;
}
.prev-next ol .prev em + span {
  left: 0;
  display: block;
}
.prev-next ol .prev:hover em {
  margin-right: -244px;
}
.prev-next ol .next {
  display: none;
}
.prev-next ol .next em {
  display: block;
  left: 100%;
  padding-right: 44px;
  padding-left: 20px;
  margin-left: -44px;
  text-align: left;
}
.prev-next ol .next em + span {
  display: block;
  background-position: -790px 50%;
  right: 0;
}
.prev-next ol .next:hover em {
  margin-left: -244px;
}
.prev-next ul {
  margin: 0;
}
.prev-next ul li {
  text-indent: -1234em;
  position: absolute;
  right: 100%;
  top: 0;
  padding-left: 20px;
  background: url(img/nav.png) no-repeat -610px 2px;
  cursor: pointer;
}
.prev-next ul li:hover {
  color: #000;
}
.prev-next ul li.disabled {
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
.prev-next ul li.disabled:hover {
  color: #4e4e4e;
}
.prev-next ul li + li {
  left: 100%;
  right: auto;
  padding-left: 0;
  padding-right: 20px;
  background-position: 100% 2px;
}
section.toc {
  font-size: 1.1em;
  line-height: 1.2;
}
section.toc ol {
  margin: 0;
  overflow: hidden;
}
section.toc ol li {
  margin-bottom: 0.5em;
}
section.toc ol li a {
  display: block;
  background-color: #d3f1e8;
  padding: 12px;
}
section.toc ol li a h2 {
  line-height: 1.1;
  margin-bottom: 0.2em;
}
section.toc ol li a p {
  margin: 0;
  color: #4e4e4e;
}
.swipable #pages {
  display: none;
}
.swipable #document {
  height: auto;
  overflow: visible !important;
  overflow-x: hidden !important;
}
.swipable #document h1.logo {
  display: none;
}
.swipable article {
  position: relative;
  background-color: #fafafa;
  display: table-cell;
}
.swipable #container .article-0 h1 {
  position: relative;
  z-index: 2;
  margin-top: -44px;
  margin-left: -53px;
  padding-top: 156px;
  padding-left: 53px;
  background: url(img/ro-logo.png) no-repeat -83px 0;
}
.swipable #container .article-0 > div {
  position: relative;
}
