/*	==========================================================================================
 *	desktop
 *	==========================================================================================
 *	Style sheet is aimed at displays over 640 pixels in width. The iPad
 *	and most desktop computers will fall into this category.
 *	==========================================================================================
 *	Author:		Jonathan van Wunnik
 *	Project:	Project Name
 *	Link:		http://www.website.com
 *	======================================================================================= */
/*	==========================================================================================
	Normalize (Desktop IE)
	======================================================================================= */
.ie img,
.ie embed,
.ie object,
.ie video {
  width: 100%;
}
.ie legend {
  border: 0;
}
.ie7 body {
  margin: 0;
}
.ie7 audio, .ie7 canvas, .ie7 video {
  display: inline;
  zoom: 1;
}
.ie7 nav ul {
  list-style-image: none;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
.ie7 form {
  margin: 0;
}
.ie7 legend {
  margin-left: -7px;
}
.ie7 button,
.ie7 input[type="button"],
.ie7 input[type="submit"],
.ie7 input[type="reset"] {
  overflow: visible;
  /* width: auto; */
}
.ie7 button,
.ie7 input,
.ie7 select,
.ie7 textarea {
  vertical-align: middle;
}
.ie7 table {
  border-collapse: collapse;
}
.ie7 table button, .ie7 table input {
  overflow: auto;
}
/*	==========================================================================================
	Typography
	======================================================================================= */
/*	==========================================================================================
	Links
	======================================================================================= */
/*	==========================================================================================
	Layout/Grid
	======================================================================================= */
/* Document */
[role="document"] {
  display: block;
  margin: 0 auto 0;
}
.ie7 [role="document"], .ie8 [role="document"] {
  width: 984px;
}
.ie7 [role="document"] {
  text-align: center;
}
.ie7 [role="document"],
.ie7 header,
.ie7 section,
.ie7 article,
.ie7 footer {
  text-align: left;
}
/* Grid */
/* Layout */
#document {
  display: block;
  margin: 44px auto 44px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
.article-0 {
  position: relative;
}
.article-0 > div > div {
  position: relative;
  z-index: 2;
  width: 50%;
  float: right;
}
.article-0 > div > div > * {
  margin-left: 32px;
  margin-right: 24px;
}
.article-0 p.image {
  right: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.article-0 p.image img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  max-width: none;
}
section.toc ol {
  margin: 0 -24px -24px 0;
}
section.toc ol li {
  float: left;
  width: 25%;
  margin-bottom: 24px;
}
section.toc ol li a {
  min-height: 190px;
  margin-right: 24px;
  padding: 12px;
}
.prev-next {
  width: 90px;
  margin-left: -45px;
}
.prev-next ol .prev, .prev-next ol .next {
  display: block;
}
.prev-next ul li {
  text-indent: 0;
}
.init #document {
  visibility: hidden;
}
/*	==========================================================================================
	Layout adjustments for 768px width
	======================================================================================= */
@media only screen and (max-width: 768px) {
  /* Document */
  [role="document"] {
    max-width: 720px;
  }
}
/* END @media */
/*	==========================================================================================
	Layout adjustments for 768px to 1004px width
	======================================================================================= */
@media only screen and (min-width: 768px) and (max-width: 1004px) {
  /* Document */
  [role="document"] {
    max-width: 768px;
  }
}
/* END @media */
/*	==========================================================================================
	Layout adjustments for minimal width of 1004px
	======================================================================================= */
@media only screen and (min-width: 1004px) {
  /* Document */
  [role="document"] {
    max-width: 984px;
  }
  #document {
    max-width: 984px;
  }
  #document > header nav {
    left: -15px;
    right: -15px;
  }
  #document .article-0 {
    min-height: 656px;
  }
}
/* END @media */
/*	==========================================================================================
	Style adjustments for tablet (iPad)) in landscape + portrait view mode
	======================================================================================= */
@media only screen and (device-width: 768px) {
  html {
    background: url(img/ipad-bg.jpg);
  }
  #document {
    max-width: none;
    margin: 44px 0 0 0;
  }
  #document article {
    display: block;
  }
  html.touch #document article.article-0 h1 {
    background-position: -84px 0;
  }
  nav.prev-next {
    display: none;
  }
}
/* END @media */
/*	==========================================================================================
	Style adjustments for tablet (iPad) in landscape view mode
	======================================================================================= */
@media only screen and (device-width: 768px) and (orientation: landscape) {
  /* Document */
  #document {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
  }
  #document article > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  #document article > div header.full {
    padding-left: 284px;
    margin-left: -44px;
    margin-right: -44px;
  }
  #document article.layout-2 > div {
    margin-left: 420px;
    padding-right: 44px;
  }
  #document article.layout-2 > div aside {
    left: -236px;
  }
  #document article.layout-3 > div {
    padding-left: 44px;
    padding-right: 44px;
    margin-right: 420px;
  }
  #document article.layout-3 > div header figure.full {
    margin: -24px -44px 0 -44px;
    width: 1024px;
  }
}
/* END @media */
/*	==========================================================================================
	Style adjustments for tablet (iPad) in portrait view mode (768px)
	======================================================================================= */
@media only screen and (device-width: 768px) and (orientation: portrait) {
  article.toc section.toc ol li {
    float: left;
    width: 33%;
  }
  article.toc section.toc ol li a {
    min-height: 190px;
  }
}
/* END @media */
/*	==========================================================================================
	Fallback styles for unavilable CSS3 features (with Modernizr: http://www.modernizr.com/)
	======================================================================================= */
/* NO box shadow */
/* NO border radius */
/* NO rgba */
/* NO csstransitions */
/*	==========================================================================================
	Non-semantic helper classes
	======================================================================================= */
/* Hide for both screenreaders and browsers (http://css-discuss.incutio.com/wiki/Screenreader_Visibility) */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders (http://www.webaim.org/techniques/css/invisiblecontent/ & http://j.mp/visuallyhidden) */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* For image replacement */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-indent: -999em;
  text-align: left;
}
.ir br {
  display: none;
}
/* Clearfix for containing floats — Firefox 3.5+, Safari 4+, Chrome, Opera 9+, IE 6+ (http://nicolasgallagher.com/micro-clearfix-hack/) */
.clearfix,
header,
article,
nav ul,
nav p,
[role="document"],
[role="document"] > footer {
  zoom: 1;
}
.clearfix:before,
header:before,
article:before,
nav ul:before,
nav p:before,
[role="document"]:before,
[role="document"] > footer:before,
.clearfix:after,
header:after,
article:after,
nav ul:after,
nav p:after,
[role="document"]:after,
[role="document"] > footer:after {
  display: table;
  content: "";
}
.clearfix:after,
header:after,
article:after,
nav ul:after,
nav p:after,
[role="document"]:after,
[role="document"] > footer:after {
  clear: both;
}
/*	==========================================================================================
	Print styles
	======================================================================================= */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    letter-spacing: .2pt;
    line-height: 1.4;
    margin: 0 !important;
    padding: 0 !important;
    text-shadow: none !important;
    width: 100% !important;
    word-spacing: 1.1pt;
    filter: none !important;
    -ms-filter: none !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Helvetica, Arial, sans-serif;
  }
  h1 {
    font-size: 18pt;
  }
  h2 {
    font-size: 15pt;
  }
  h3 {
    font-size: 13pt;
  }
  h4, h5, h6 {
    font-size: 11pt;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  pre, blockquote {
    border: 1px solid #999999;
    margin: 1.5em;
    padding: 1em;
    page-break-inside: avoid;
  }
  hr {
    background-color: #cccccc;
  }
  @page  {
    margin: .5cm;
  }
  .pagebreak {
    display: block;
    page-break-after: always;
  }
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
  a img {
    border: none;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  table {
    margin: 1px;
    text-align: left;
  }
  th {
    border-bottom: 1px solid #333333;
    font-weight: bold;
  }
  td {
    border-bottom: 1px solid #333333;
  }
  th, td {
    padding: 4px 10px 4px 0;
  }
  tfoot {
    font-style: italic;
  }
  caption {
    background: #ffffff;
    margin-bottom: 2em;
    text-align: left;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
}
/* END @print */