@charset "utf-8";

/*
	rijksoverheidsanstext-regular.css
	-------------------------------------------------------------------
	The Fontspring @font-face syntax:
	http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax
	-------------------------------------------------------------------
*/


@font-face {
    font-family: "RijksoverheidSansText-Regular";
    src: url("rijksoverheidsanstext-regular.eot");
    src: url("rijksoverheidsanstext-regular.eot?#iefix") format("embedded-opentype"),
         url("rijksoverheidsanstext-regular.woff") format("woff"),
         url("rijksoverheidsanstext-regular.ttf") format("truetype"),
         url("rijksoverheidsanstext-regular.svg#RijksoverheidSansText-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}