table {
  border: 1px solid #e6e6e6;
  border-collapse: separate;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
table th, table td {
  line-height: 1.5;
  padding: 0.5em;
  text-align: left;
}
table th {
  border-bottom: 1px solid #808080;
  font-weight: bold;
  vertical-align: middle;
  white-space: nowrap;
}
table td {
  vertical-align: top;
}
table th + th, table td + td {
  border-left: 1px solid #ddd;
}
table tr + tr td {
  border-top: 1px solid #ddd;
}
table tbody tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td {
  background-color: #e6e6e6;
}
table tbody tr:hover td {
  background-color: #141414;
  color: #ffffff;
}
table tfoot td {
  border-top: 1px solid #bfbfbf;
  font-style: italic;
}
