.toc, .open-index #pages .indicator {
  /* blauw */

  /* rood */

  /* groen */

  /* paars */

  /* lichtpaars */

}
.toc .template-1 a, .open-index #pages .indicator .template-1 a {
  background-color: #d9ebf7;
}
.toc .template-2 a, .open-index #pages .indicator .template-2 a {
  background-color: #f9dfdd;
}
.toc .template-3 a, .open-index #pages .indicator .template-3 a {
  background-color: #e1eddb;
}
.toc .template-4 a, .open-index #pages .indicator .template-4 a {
  background-color: #e3dce7;
}
.toc .template-5 a, .open-index #pages .indicator .template-5 a {
  background-color: #f7d9e7;
}
#cover > div:first-child {
  color: #fff;
  background-color: #007bc7;
}
#cover > div:first-child dl dd + dt {
  border-color: #fff;
}
#cover > div:first-child dl > * {
  color: #fff;
}
#cover > div:first-child nav h2 {
  color: #f9e11e;
}
#cover > div:first-child nav p {
  color: #fff;
}
article blockquote {
  margin: 1em 0;
}
article.template-1,
article.template-2,
article.template-3,
article.template-4,
article.template-5 {
  font-size: 1.2em;
  color: #4d4d4d;
}
article.template-1 h1,
article.template-2 h1,
article.template-3 h1,
article.template-4 h1,
article.template-5 h1,
article.template-1 h2,
article.template-2 h2,
article.template-3 h2,
article.template-4 h2,
article.template-5 h2,
article.template-1 h3,
article.template-2 h3,
article.template-3 h3,
article.template-4 h3,
article.template-5 h3 {
  font-family: "RijksoverheidSansTextRegular", Arial, sans-serif;
}
article.template-1 header,
article.template-2 header,
article.template-3 header,
article.template-4 header,
article.template-5 header {
  position: relative;
  min-height: 210px;
  margin-bottom: 1em;
}
article.template-1 header h1,
article.template-2 header h1,
article.template-3 header h1,
article.template-4 header h1,
article.template-5 header h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2.75em;
  line-height: 1;
  width: 456px;
  margin: 0 0 0 240px;
}
article.template-1 section section,
article.template-2 section section,
article.template-3 section section,
article.template-4 section section,
article.template-5 section section {
  float: left;
  width: 456px;
  margin-left: 240px;
}
article.template-1 section section .intro,
article.template-2 section section .intro,
article.template-3 section section .intro,
article.template-4 section section .intro,
article.template-5 section section .intro {
  font-size: 1.3em;
}
article.template-1 section h2,
article.template-2 section h2,
article.template-3 section h2,
article.template-4 section h2,
article.template-5 section h2 {
  font-size: 1em;
  margin-top: 0;
  line-height: 1;
}
article.template-1 section blockquote,
article.template-2 section blockquote,
article.template-3 section blockquote,
article.template-4 section blockquote,
article.template-5 section blockquote {
  float: left;
  width: 296px;
  margin: 5px 48px 0 -240px;
  padding: 0 0 0 104px;
  border-top: 5px solid #fff;
  font-size: 1.5em;
  text-align: right;
}
article.template-1 section blockquote.right,
article.template-2 section blockquote.right,
article.template-3 section blockquote.right,
article.template-4 section blockquote.right,
article.template-5 section blockquote.right {
  float: right;
  text-align: left;
  padding: 0 104px 0 0;
  margin: 5px -240px 0 48px;
}
article.template-1 section blockquote.full,
article.template-2 section blockquote.full,
article.template-3 section blockquote.full,
article.template-4 section blockquote.full,
article.template-5 section blockquote.full {
  float: none;
  width: auto;
  text-align: left;
  margin: 5px -240px 0 -240px;
  padding: 0 24px 0 24px;
}
article.template-1 section aside,
article.template-2 section aside,
article.template-3 section aside,
article.template-4 section aside,
article.template-5 section aside {
  float: left;
  clear: left;
  width: 216px;
}
article.template-1 section section + aside,
article.template-2 section section + aside,
article.template-3 section section + aside,
article.template-4 section section + aside,
article.template-5 section section + aside {
  float: right;
  clear: right;
}
article.template-1 section aside + section,
article.template-2 section aside + section,
article.template-3 section aside + section,
article.template-4 section aside + section,
article.template-5 section aside + section {
  margin-left: 24px;
}
article.template-1 > div:first-child {
  background-color: #d9ebf7;
}
article.template-2 > div:first-child {
  background-color: #f9dfdd;
}
article.template-3 > div:first-child {
  background-color: #e1eddb;
}
article.template-4 > div:first-child {
  background-color: #e3dce7;
}
article.template-5 > div:first-child {
  background-color: #f7d9e7;
}
article.template-1 h1, article.template-1 h2 {
  color: #007bc7;
}
article.template-1 a, article.template-1 blockquote, article.template-1 p.intro {
  color: #ca005d;
}
article.template-1 section blockquote {
  border-color: #ca005d;
}
article.template-2 h1, article.template-2 h2 {
  color: #d52b1e;
}
article.template-2 a, article.template-2 blockquote, article.template-2 p.intro {
  color: #42145f;
}
article.template-2 section blockquote {
  border-color: #42145f;
}
article.template-3 h1, article.template-3 h2 {
  color: #39870c;
}
article.template-3 a, article.template-3 blockquote, article.template-3 p.intro {
  color: #007bc7;
}
article.template-3 section blockquote {
  border-color: #007bc7;
}
article.template-4 h1, article.template-4 h2 {
  color: #42145f;
}
article.template-4 a, article.template-4 blockquote, article.template-4 p.intro {
  color: #db2b1e;
}
article.template-4 section blockquote {
  border-color: #db2b1e;
}
article.template-5 h1, article.template-5 h2 {
  color: #ca005d;
}
article.template-5 a, article.template-5 blockquote, article.template-5 p.intro {
  color: #007bc7;
}
article.template-5 section blockquote {
  border-color: #007bc7;
}
@media only screen and (max-width: 1004px) {
  #document article.template-1 header h1,
  #document article.template-2 header h1,
  #document article.template-3 header h1,
  #document article.template-4 header h1,
  #document article.template-5 header h1 {
    width: 456px;
    margin: 0 auto;
    position: static;
  }
  #document article.template-1 section,
  #document article.template-2 section,
  #document article.template-3 section,
  #document article.template-4 section,
  #document article.template-5 section {
    width: 456px;
    margin: 0 auto;
  }
  #document article.template-1 section section,
  #document article.template-2 section section,
  #document article.template-3 section section,
  #document article.template-4 section section,
  #document article.template-5 section section {
    width: none;
    float: none;
  }
  #document article.template-1 section aside,
  #document article.template-2 section aside,
  #document article.template-3 section aside,
  #document article.template-4 section aside,
  #document article.template-5 section aside,
  #document article.template-1 section aside + section,
  #document article.template-2 section aside + section,
  #document article.template-3 section aside + section,
  #document article.template-4 section aside + section,
  #document article.template-5 section aside + section {
    float: left;
    width: 456px;
    margin: 0;
  }
  #document article.template-1 section blockquote,
  #document article.template-2 section blockquote,
  #document article.template-3 section blockquote,
  #document article.template-4 section blockquote,
  #document article.template-5 section blockquote {
    width: 456px;
    padding: 0;
    margin: 0;
  }
}
/* END @media */
