	
	
	//gutter: 24
	//total width: 984
	//column: 56
	
// toc colors

.toc, body #pages .indicator {
	.color-1 {
		a, &.current a { background-color: #007bc7; }
		h2, a { color: #fff; }
		p { color: #fff; }
		
	} /* blauw */
	.color-2 {
		a, &.current a  { background-color: #42145f; }
		h2, a { color: #fff; }
		p { color: #fff; }
	} /* paars */
	.color-3 {
		a, &.current a  { background-color: #777c00; }
		h2, a { color: #fff; }
		p { color: #fff; }
	} /* groen */
	.color-4 {
		a, &.current a  { background-color: #E1EDDB; }
		h2, a {
			color: #39870C;
		}
	} /* groen */
	.color-5 a { background-color: #f7d9e7; } /* lichtpaars */
	

}



// cover layouts {
article.article-0 {
	background-color: #007bc7;

		color: #fff;
		
	
		dl {
			dd + dt {
				border-color: #fff;
			}
			> * {
				color: #fff;
			}
		} 
		nav {
			h2 {
				color: #f9e11e
			}
			p {
				color: #fff;
			}
		}

}


// template layouts

// default 
article {
	blockquote {
		margin: 1em 0;
		
	}
	
}



// general template
article {
		
	
	color: #4d4d4d;
	

	header {
		position: relative;
		margin-bottom: 1em;
		> * {
			position: relative;
			z-index: 2;
		}
		img {
			vertical-align: bottom;
		}
		h1 {
			font-size: 3em;
		}
		h2 {
			font-size: 1.5em;
			margin-top: 0;
		}
		
		
		
		
	}
	section {
		position: relative;
		h1 {
			line-height: 1;
			margin-bottom: 0.75em;
			font-size: 3em;
			&.full {
				margin: 0;
				width: auto;
			}
		}
		
		blockquote {
			float: left;
			margin: 24px;
			text-align: right; 
			&.right {
				float: right;
				text-align: left;
			}
			&.full {
				float: none;
				width: auto;
				text-align: left;
			}
		}
		aside {
			float: left;
			clear: left;
			&.left {
				float: left;
			}
		}
		section+aside, aside.left+aside, figure+aside{
			float: right;
			clear: right;
			
		}
		aside+section, aside+figure {
			margin-left: 24px;
		}
	}
	figure, .image-slider {

		float: left;
		margin-left: 240px;
		clear: both;
		width: 456px;
		margin-bottom: 1.5em;
		ol {
			margin: 0;
			padding: 0;
		}
		&.full {
			float: none;
			width: auto;
			margin-left: 0;
			figure {
				width: 100%;
				margin: 0;
				img {
					max-width: none;
					width: 100%;
				}
				
				
			}
			
		}
		
		&.left, &.right {
			width: 696px;
			margin-left: 240px;
		}
		&.left {
			margin-left: 0;
			
		}
		figcaption {
			margin-top: 0.75em;
			color: #666;
			width: 456px;
		}
		
		
	}
	.image-slider.processed {
		
	}
	.image-slider figure {
		ol {
			list-style: none;
			li {
				float: left;
				img {
					float: left;
					max-width: 536px;
					margin-bottom: 1.5em;
					
				}
			}
		}
		
		
	}
	section section figure {
		margin: 0 0 1.5em 0;
		
		&.left {
			float: left;
			width: 456px;
			margin: 0 24px 1.5em -240px;
		}
		&.right {
			width: 456px;
			margin: 0 -240px 1.5em 24px;
			float: right;
		}
	} 
	
	
}


article.layout-1 {
	header {
		img + h1 {
			display: inline-block;
			width: 456px;
		}
		&.full {
			padding: 0 240px 0 240px;
			h1 {
				display: block;
				width: auto;
				margin-top: 50%;
			}
			h1 + h2 {
				margin-top: 2em;
			}
			.full {
				margin-left: -240px;
				margin-right: -240px;
			}
		}
		&.image {
			overflow: hidden;
			margin-left: 0;
			margin-right: 0;
			padding-left: 264px;
			padding-right: 264px; 
			background-size: cover;
			&.full {
				margin-left: -24px;
				margin-right: -24px;
				min-height: 656px;
				
			}	
		}
		
		&.image:first-child {
			margin-top: -24px;
		}
	}
	
	section {
	
		h1 {
			margin-left: 240px;
			width: 456px;
		}
		
		section {
			float: left;
			width: 456px;
			margin-left: 240px;
			
		}
	
	
		blockquote {

			width: 296px;
			margin: 0 24px 24px -240px;
			padding: 0 0 0 80px; 
			&.right {
				margin: 0 -240px 24px 24px;
				padding: 0 80px 0 0;
			}
			&.full {
				margin-right: -240px;
				padding: 0 0 1.5em 0;
				width: auto;
			}
		}
		aside {
			width: 216px;
			&.left {
				margin-left: -696px;
			}
		}
		aside+section {
			margin-left: 24px;
		}	
	}
	
	section section figure {
		margin: 0 0 1.5em 0;
		
		&.left {
			float: left;
			width: 456px;
			margin: 0 24px 1.5em -240px;
		}
		&.right {
			width: 456px;
			margin: 0 -240px 1.5em 24px;
			float: right;
		}
	} 
	
	
}
article.layout-2 {
	> div {
		margin: 0 0 0 400px;
		background-color: #fff; 
		padding: 24px;
		
		
	}
	
	figure, image-slider {
		width: 100%;
		margin-left: 0;
	}
	
	aside {
		width: 264px;
		left: -240px;
    	position: absolute;
    	top: 0;
    	width: 216px;
    	figcaption {
    		width: auto;
    		margin-right: 24px;
    	} 
		
	}
	
	
	
}

article.layout-3 {
	> div {
		margin: 0 400px 0 0;
		padding: 24px;
		
		
	}
	header figure.full {
		margin: -24px -24px 0 -24px;
		width: 984px;
	}
	figure, image-slider {
		width: 100%;
		margin-left: 0;
		
		&.full {
		
			width: 936px;
		
		}
	}
	
	
	aside {
		width: 264px;
		right: -240px;
    	position: absolute;
    	top: 0;
    	width: 216px;
    	figcaption {
    		width: auto;
    		margin-right: 24px;
    	} 
		
	}
	
	
	
}


article.color-1{ background-color: #fff;}
article.color-2 { background-color: #42145f;}
article.color-3 { background-color: #777c00;}
article.color-4 { background-color: #e1eddb;}
article.color-5 { background-color: #f7d9e7;}

article.color-1 { 
	color: #007bc7;
	h1, h2, h3 { color: #ca005d; }
	a, blockquote, p.intro {
		color: #ca005d;
	}  
	header.image * {
		color: #fff;
	}
	
}
article.color-2 { 
	color: #fff;
	figcaption {
		color: #fff;
	}
	h1, h2, h3 { color: #b2d7ee; }
	a, blockquote, p.intro {
		color: #b2d7ee;
	}  
	
}
article.color-3 { 
	h1, h2, h3 { color: #a90061; }
	a, blockquote, p.intro {
		color: #777c00;
	}  
	aside {
	
		color: #fff;
		h2, h3, q {
			color: #fff;
		}
	}
}
article.color-4 { 
	h1, h2, h3, blockquote, q { color: #39870c; }
	a, blockquote, p.intro {
		color: #007bc7;
	}    
	
}
article.color-5 { 
	h1, h2, h3 { color: #ca005d; }
	a, blockquote, p.intro {
		color: #007bc7;
	}  
	
}

 

@media only screen and (max-width: 1004px) {
	// layout-1 {
	#document article{
		&.layout-1 {
		
			
			header {
				max-width: 616px;
				margin-left: auto;
				margin-right: auto;
				padding: 0;
				&.full .full {
					margin-left: 0;
					margin-right: 0;
				}
				&.image {
					margin-left: -24px;
					margin-right: -24px;
					padding: 24px 80px;
					max-width: none;
					> h1, > h2 {
						max-width: 616px;
						margin-left: auto;
						margin-right: auto;
						padding: 0;
					}
				}
			}
			
			h1 {
				width: auto;
			}
				
			
			section{
				max-width: 616px;
				h1 {
					margin-left: 0;
				}
				width: auto;
				margin: 0 auto;
				section {
					width: none;
					float: none;
				}
				aside, aside + section {
					float: left;
					width: auto;
					margin: 0;
				}
				aside.left {
					margin: 0;
				}
				
				blockquote {
					float: none;
					width: auto;
					padding: 0;
					margin: 0 0 1.5em 0;
					
				}
				
			}
			figure {
				max-width: 616px;
				width: auto;
				float: none;
				margin: 0 auto 1.5em auto;
			}
		}
		&.layout-2 {
			background-color: #fff;
			> div {
				margin-left: 0px;
				aside {
					float: none;
					position: static;
					color: #4d4d4d;
					width: auto;
					h2, h3, q {
						color: #4d4d4d;
					}
					
				}
			}
		}
		&.layout-3 {
			> div {
				margin-right: 0;
				aside {
					float: none;
					position: static;
					color: #4d4d4d;
					width: auto;
					h2, h3, q {
						color: #4d4d4d;
					}
					
				}
				
				figure.full {
						width: auto;
					}
			}
		}
		
	}

}	/* END @media */
